.stories-wrapper {
  border-radius: 20px;

}
.stories {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    overflow: auto;
}
.swiper-class {
    display: flex;
}
.story {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.story span {
    position: absolute;
    bottom: 5px;
    color: white;
    font-weight: 700;
    left: 20px;
    font-size: 12px;
    font-family: "Poppins",sans-serif;
}
.current-user span img {
    position: absolute;
    bottom: 25px;
    left: -6px;
    border: 2px solid white;
    border-radius: 50%;
    text-shadow: 20px 2px 10px 2px;
}
.story .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 2px solid white
}

.story  > img {
    width: 150px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    
}
